{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracking</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/kanban.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    {% block config %}
    {% endblock config %}
</head>
<body>
{% load crispy_forms_tags %}

<div class="container-fluid">
    {% include 'include/navbar.html' %}
    <div class="row flex-nowrap">
            {% if show_list_group == 1 %}
                {% if what_open == 1 %}
                    {% include 'include/content/project_list_group.html' %}
                {% endif %}

                {% if what_open == 2 %}
                    {% include 'include/content/state_list_group.html' %}
                {% endif %}

                {% if what_open == 3 %}
                    {% include 'include/content/priority_list_group.html' %}
                {% endif %}

                {% if what_open == 4 %}
                    {% include 'include/content/type_list_group.html' %}
                {% endif %}

                {% if what_open == 5 %}
                    {% include 'include/content/employee_list_group.html' %}
                {% endif %}

                {% if what_open == 6 %}
                    {% include 'include/content/task_list_group.html' %}
                {% endif %}

                {% if what_open == 7 %}
                    {% include 'include/content/sprint_list_group.html' %}
                {% endif %}
            {% endif %}

            <div class="col py-3">
{#                {% include 'include/project_list_group.html' %}#}
                {% block title %}
                {% endblock title %}

                {% block content %}
                {% endblock content %}

                {% block script %}
                {% endblock script %}
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>