{% extends 'include/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div>
        <div class="row">
            <div class="col-md-12 text_button">
                {% if step == 1 %}
                    Регистрация
                    <div class="progress text_button" style="margin-bottom: 50px">
                        <div class="progress-bar" role="progressbar" aria-label="Basic example" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                {% else %}
                    Заполнение личной информации
                    <div class="progress text_button" style="margin-bottom: 50px">
                        <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 50%"
                             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                {% endif %}
            </div>
        </div>
        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-primary mt-3 text_button">{{ text_button }}</button>
        </form>

        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock content %}