{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracking</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/kanban.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    {% block config %}
    {% endblock config %}
</head>
<body>
{% load crispy_forms_tags %}

<div class="container-fluid">
    {% include 'include/navbar.html' %}
    <div class="row flex-nowrap">
        {% if show_list_group == 1 %}
            {% if what_open == 1 %}
                {% include 'include/content/project_list_group.html' %}
            {% endif %}

            {% if what_open == 2 %}
                {% include 'include/content/state_list_group.html' %}
            {% endif %}

            {% if what_open == 3 %}
                {% include 'include/content/priority_list_group.html' %}
            {% endif %}

            {% if what_open == 4 %}
                {% include 'include/content/type_list_group.html' %}
            {% endif %}

            {% if what_open == 5 %}
                {% include 'include/content/employee_list_group.html' %}
            {% endif %}

            {% if what_open == 6 %}
                {% include 'include/content/task_list_group.html' %}
            {% endif %}

            {% if what_open == 7 %}
                {% include 'include/content/sprint_list_group.html' %}
            {% endif %}

            {% if what_open == 8 %}
                {% include 'include/content/profession_list_group.html' %}
            {% endif %}
        {% endif %}

        <div class="col py-3">
            {#                {% include 'include/project_list_group.html' %}#}
            {% block title %}
            {% endblock title %}

            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
                </symbol>
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                </symbol>
            </svg>

            <div class="container-fluid">
                <div class="d-flex justify-content-center">
                    <div class="row w-100" style="margin-bottom: 20px">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
                                     role="alert">
                                    {% if message.tags == 'success' %}
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                             aria-label="Success:">
                                            <use href="#check-circle-fill"></use>
                                        </svg>
                                    {% else %}
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                             aria-label="Danger:">
                                            <use href="#exclamation-triangle-fill"></use>
                                        </svg>
                                    {% endif %}

                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            {% block content %}
            {% endblock content %}

            {% block script %}
            {% endblock script %}
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>