{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div>
        <form role="form" action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div style="margin-bottom: 30px">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">{{ text_button }}</button>
        </form>
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock content %}