{% load static %}
<nav class="navbar bg-light navbar-expand-lg white navbar-light">
    <div class="container-fluid w-100">
        <a class="navbar-brand" href="{% url 'main_page' %}">На главную</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Картотеки
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'employees' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="18"
                                         height="18">
                                        <path d="M12,12A6,6,0,1,0,6,6,6.006,6.006,0,0,0,12,12ZM12,2A4,4,0,1,1,8,6,4,4,0,0,1,12,2Z"/>
                                        <path d="M12,14a9.01,9.01,0,0,0-9,9,1,1,0,0,0,2,0,7,7,0,0,1,14,0,1,1,0,0,0,2,0A9.01,9.01,0,0,0,12,14Z"/>
                                    </svg>
                                    Сотрудники
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="{% url 'types' %}">
                                    <svg id="Layer_1" viewBox="0 0 24 24" width="18" height="18">
                                        <path d="m19 0h-14a5.006 5.006 0 0 0 -5 5v14a5.006 5.006 0 0 0 5 5h14a5.006 5.006 0 0 0 5-5v-14a5.006 5.006 0 0 0 -5-5zm3 19a3 3 0 0 1 -3 3h-14a3 3 0 0 1 -3-3v-14a3 3 0 0 1 3-3h14a3 3 0 0 1 3 3zm-4-10a1 1 0 0 1 -2 0 1 1 0 0 0 -1-1h-2v8h1a1 1 0 0 1 0 2h-4a1 1 0 0 1 0-2h1v-8h-2a1 1 0 0 0 -1 1 1 1 0 0 1 -2 0 3 3 0 0 1 3-3h6a3 3 0 0 1 3 3z"/>
                                    </svg>
                                    Типы задач
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="{% url 'priorities' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="18"
                                         height="18">
                                        <path d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/>
                                        <path d="M12,5a1,1,0,0,0-1,1v8a1,1,0,0,0,2,0V6A1,1,0,0,0,12,5Z"/>
                                        <rect x="11" y="17" width="2" height="2" rx="1"/>
                                    </svg>
                                    Приоритетность
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="{% url 'projects' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="18"
                                         height="18">
                                        <path d="M9.288,13.067c-2.317.446-3.465,3.026-3.963,4.634A1,1,0,0,0,6.281,19H10a3,3,0,0,0,2.988-3.274A3.107,3.107,0,0,0,9.288,13.067Z"/>
                                        <path d="M23,8.979a1,1,0,0,0-1,1V15H18a3,3,0,0,0-3,3v4H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2H16.042a1,1,0,0,0,0-2H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H16.343a4.966,4.966,0,0,0,3.535-1.464l2.658-2.658A4.966,4.966,0,0,0,24,16.343V9.979A1,1,0,0,0,23,8.979ZM18.464,21.122a3.022,3.022,0,0,1-1.464.8V18a1,1,0,0,1,1-1h3.925a3.022,3.022,0,0,1-.8,1.464Z"/>
                                        <path d="M14.566,14.17a1,1,0,0,1-.707-1.707L21.712,4.61a.943.943,0,0,0,0-1.335A.9.9,0,0,0,21.018,3a.933.933,0,0,0-.678.314l-7.6,8.407a1,1,0,0,1-1.484-1.341l7.6-8.4A2.949,2.949,0,0,1,20.963,1a2.985,2.985,0,0,1,2.163.862,2.947,2.947,0,0,1,0,4.163l-7.853,7.853A.993.993,0,0,1,14.566,14.17Z"/>
                                    </svg>
                                    Проекты
                                </a>
                            </li>

                            <li>
                                <a class="dropdown-item" href="{% url 'states' %}">
                                    <svg id="Layer_1" height="18" viewBox="0 0 24 24" width="18"
                                         xmlns="http://www.w3.org/2000/svg" data-name="Layer 1">
                                        <path d="m18 0h-12a1 1 0 0 0 0 2h1v17a5 5 0 0 0 10 0v-17h1a1 1 0 0 0 0-2zm-6 22a3 3 0 0 1 -3-3v-10h6v10a3 3 0 0 1 -3 3zm3-15h-6v-5h6z"/>
                                    </svg>
                                    Состояния
                                </a>
                            </li>
                        </ul>

                    </li>
                {% endif %}

                {% if show_choose_project == 1 %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_2" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Выбрать проект
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                {% for project in list_projects %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="{% url 'project_extra_function' project_id=project.project_id %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"
                                                 width="18"
                                                 height="18">
                                                <path d="M9.288,13.067c-2.317.446-3.465,3.026-3.963,4.634A1,1,0,0,0,6.281,19H10a3,3,0,0,0,2.988-3.274A3.107,3.107,0,0,0,9.288,13.067Z"/>
                                                <path d="M23,8.979a1,1,0,0,0-1,1V15H18a3,3,0,0,0-3,3v4H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2H16.042a1,1,0,0,0,0-2H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H16.343a4.966,4.966,0,0,0,3.535-1.464l2.658-2.658A4.966,4.966,0,0,0,24,16.343V9.979A1,1,0,0,0,23,8.979ZM18.464,21.122a3.022,3.022,0,0,1-1.464.8V18a1,1,0,0,1,1-1h3.925a3.022,3.022,0,0,1-.8,1.464Z"/>
                                                <path d="M14.566,14.17a1,1,0,0,1-.707-1.707L21.712,4.61a.943.943,0,0,0,0-1.335A.9.9,0,0,0,21.018,3a.933.933,0,0,0-.678.314l-7.6,8.407a1,1,0,0,1-1.484-1.341l7.6-8.4A2.949,2.949,0,0,1,20.963,1a2.985,2.985,0,0,1,2.163.862,2.947,2.947,0,0,1,0,4.163l-7.853,7.853A.993.993,0,0,1,14.566,14.17Z"/>
                                            </svg>
                                            {{ project.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}

                {% if is_project_zone == 1 %}
                    {% for current_project in list_projects %}
                        {% if current_project.project_id == project_id %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_3" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ current_project.name }}
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown_3">
                                    <li>
                                        <a class="dropdown-item"
                                           href="{% url 'tasks_for_project' project_id=project_id %}">
                                            <svg id="Layer_1" height="18" viewBox="0 0 24 24" width="18"
                                                 xmlns="http://www.w3.org/2000/svg" data-name="Layer 1">
                                                <path d="m4 6a2.982 2.982 0 0 1 -2.122-.879l-1.544-1.374a1 1 0 0 1 1.332-1.494l1.585 1.414a1 1 0 0 0 1.456.04l3.604-3.431a1 1 0 0 1 1.378 1.448l-3.589 3.414a2.964 2.964 0 0 1 -2.1.862zm20-2a1 1 0 0 0 -1-1h-10a1 1 0 0 0 0 2h10a1 1 0 0 0 1-1zm-17.9 9.138 3.589-3.414a1 1 0 1 0 -1.378-1.448l-3.6 3.431a1.023 1.023 0 0 1 -1.414 0l-1.59-1.585a1 1 0 0 0 -1.414 1.414l1.585 1.585a3 3 0 0 0 4.226.017zm17.9-1.138a1 1 0 0 0 -1-1h-10a1 1 0 0 0 0 2h10a1 1 0 0 0 1-1zm-17.9 9.138 3.585-3.414a1 1 0 1 0 -1.378-1.448l-3.6 3.431a1 1 0 0 1 -1.456-.04l-1.585-1.414a1 1 0 0 0 -1.332 1.494l1.544 1.374a3 3 0 0 0 4.226.017zm17.9-1.138a1 1 0 0 0 -1-1h-10a1 1 0 0 0 0 2h10a1 1 0 0 0 1-1z"/>
                                            </svg>
                                            Список текущих задач
                                        </a>
                                        <a class="dropdown-item"
                                           href="{% url 'collabs' project_id=project_id %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                                                 viewBox="0 0 24 24" width="18" height="18">
                                                <path d="M12,16a4,4,0,1,1,4-4A4,4,0,0,1,12,16Zm0-6a2,2,0,1,0,2,2A2,2,0,0,0,12,10Zm6,13A6,6,0,0,0,6,23a1,1,0,0,0,2,0,4,4,0,0,1,8,0,1,1,0,0,0,2,0ZM18,8a4,4,0,1,1,4-4A4,4,0,0,1,18,8Zm0-6a2,2,0,1,0,2,2A2,2,0,0,0,18,2Zm6,13a6.006,6.006,0,0,0-6-6,1,1,0,0,0,0,2,4,4,0,0,1,4,4,1,1,0,0,0,2,0ZM6,8a4,4,0,1,1,4-4A4,4,0,0,1,6,8ZM6,2A2,2,0,1,0,8,4,2,2,0,0,0,6,2ZM2,15a4,4,0,0,1,4-4A1,1,0,0,0,6,9a6.006,6.006,0,0,0-6,6,1,1,0,0,0,2,0Z"/>
                                            </svg>
                                            Список участников
                                        </a>

                                        <a class="dropdown-item"
                                           href="{% url 'kanban_board' project_id=project_id %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                                                 viewBox="0 0 24 24" width="18" height="18">
                                                <path d="M19,0H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H19a5.006,5.006,0,0,0,5-5V5A5.006,5.006,0,0,0,19,0ZM13,22V20.414L20.414,13H22v1.586L14.586,22Zm0-9h4.586L13,17.586Zm9-8v6H13V2h6A3,3,0,0,1,22,5ZM2,11V9.414L9.414,2H11V3.586L3.586,11Zm9-4.586V11H6.414ZM5,2H6.586L2,6.586V5A3,3,0,0,1,5,2ZM2,19V13h9v9H5A3,3,0,0,1,2,19Zm17,3H17.414L22,17.414V19A3,3,0,0,1,19,22Z"/>
                                            </svg>
                                            Канбан-доска
                                        </a>

                                        <a class="dropdown-item"
                                           href="{% url 'sprints' project_id=project_id %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                                                 viewBox="0 0 24 24" width="18" height="18">
                                                <path d="M23,12.5A1.5,1.5,0,0,1,21.5,14H18.63a3.516,3.516,0,0,1-3-1.7l-1.225-2.034-1.79,4.363,2.614,1.487A3.507,3.507,0,0,1,17,19.163V22.5a1.5,1.5,0,0,1-3,0V19.163a.5.5,0,0,0-.252-.434L9.666,16.406a3.511,3.511,0,0,1-1.427-4.322L9.5,9H7.736a.5.5,0,0,0-.447.277L5.842,12.171a1.5,1.5,0,0,1-2.684-1.342L4.605,7.935A3.483,3.483,0,0,1,7.736,6H13.36a3.516,3.516,0,0,1,3,1.7L18.2,10.758A.5.5,0,0,0,18.63,11H21.5A1.5,1.5,0,0,1,23,12.5ZM8.057,16.85a1.5,1.5,0,0,0-1.95.836A.5.5,0,0,1,5.643,18H3.5a1.5,1.5,0,0,0,0,3H5.643a3.484,3.484,0,0,0,3.25-2.2A1.5,1.5,0,0,0,8.057,16.85ZM14.5,5A2.5,2.5,0,1,0,12,2.5,2.5,2.5,0,0,0,14.5,5Z"/>
                                            </svg>
                                            Спринты
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>

            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_3" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ request.user.first_name }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown_3">
                                <li>
                                    <a class="dropdown-item" href="{% url 'logout' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                                             viewBox="0 0 24 24" width="16" height="16">
                                            <path d="M11.476,15a1,1,0,0,0-1,1v3a3,3,0,0,1-3,3H5a3,3,0,0,1-3-3V5A3,3,0,0,1,5,2H7.476a3,3,0,0,1,3,3V8a1,1,0,0,0,2,0V5a5.006,5.006,0,0,0-5-5H5A5.006,5.006,0,0,0,0,5V19a5.006,5.006,0,0,0,5,5H7.476a5.006,5.006,0,0,0,5-5V16A1,1,0,0,0,11.476,15Z"/>
                                            <path d="M22.867,9.879,18.281,5.293a1,1,0,1,0-1.414,1.414l4.262,4.263L6,11a1,1,0,0,0,0,2H6l15.188-.031-4.323,4.324a1,1,0,1,0,1.414,1.414l4.586-4.586A3,3,0,0,0,22.867,9.879Z"/>
                                        </svg>
                                        Выйти из системы
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <div class="p-2">
                            <a href="{% url 'login' %}" class="btn btn-outline-primary">Логин</a>
                            <a href="{% url 'signup' %}" class="btn btn-outline-primary">Регистрация</a>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>