{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <style>
        .bs-example {
            margin: 20px;
        }
    </style>

    <div class="list_button_block">
        <div class="d-flex justify-content-center">
            <div class="row w-75">
                <form action="{% url 'collabs_search' project_id=project_id %}" class="form-inline search-form"
                      method="get">
                    <div class="d-flex">
                        <label for="search-input" class="sr-only text_button"></label>
                        <input name="search" class="form-control me-2" id="search-input"
                               placeholder="Введите текст для поиска" value="{{ value_in_the_search_form }}">
                    </div>
                </form>
            </div>
        </div>

        <div class="position_block">
            <div class="d-flex justify-content-center bs-example">
                <div>
                    {% if is_admin_zone %}
                        <a href="#"
                           class="btn btn-primary text_button" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            Добавить участников
                        </a>
                        <a href="{% url 'delete_all_employee_from_project' project_id=project_id %}"
                           class="btn btn-danger text_button" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                            Удалить всех
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Search Bar -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Добавление участников</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body text_button">
                        <form action="{% url 'search' project_id=project_id %}" class="form-inline" method="get">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="search-user-input"></label>
                                <input name="search" class="form-control" id="search-user-input"
                                                  placeholder="Введите имя пользователя">
                            </div>

                            <div class="position_block">
                                <button type="submit" class="btn btn-primary btn-lg mb-2">Поиск</button>
                            </div>

                            <div class="container-fluid" id="user_list_row"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Внимание</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body text_button">
                        Вы действительно хотите всех сотрудников?
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</a>
                        <a type="button"
                           href="{% url 'delete_all_employee_from_project' project_id=project_id %}"
                           class="btn btn-danger">Подтвердить удаление</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="position_block" id="my_row"></div>

    </div>
{% endblock content %}

{% block script %}
    <script>
        const search_data = (series) => {
            $.ajax({
                type: 'GET',
                url: '{% url "collabs_search" project_id=project_id %}',
                data: {
                    'series': series
                },
                success: function (response) {
                    $("#my_row").empty()

                    let temp = ""
                    let data = response.data;
                    let i = 0;

                    data.forEach(element => {
                        let id = "exampleModalDeleting" + i;
                        if (element.name_exists > 0 || element.last_name_exists > 0) {
                            temp += `
                            <div class="position_block">
                                <div class="d-flex justify-content-between bs-example">
                                    <div class="fw-bolder text_button">
                                        <a class="align-items-center text-dark text_button text-decoration-none dropdown-toggle" href="#"
                                           id="dropdown_menu_1" data-bs-toggle="dropdown">`
                            if (element.user_id === response.user_id) {
                                temp += `
                                            <span class="d-none d-sm-inline mx-1">
                                                <img src="{% static 'img/user.svg' %}" alt="user" rel="icon">
                                                ${element.first_name} ${element.last_name} (Вы)
                                            </span>`
                            } else {
                                temp += `
                                            <span class="d-none d-sm-inline mx-1">
                                                <img src="{% static 'img/user.svg' %}" alt="user" rel="icon">
                                                ${element.first_name} ${element.last_name}
                                            </span>`
                            }

                            let employee_url = '/main_page/employees/' + element.employee_id;
                            let report_url = '/main_page/projects/' + element.project_id + '/report_employee/' +
                                element.employee_id;
                            let delete_employee_url = '/main_page/projects/' + element.project_id +
                                '/collobarators/' + element.employee_id + '/delete'

                            temp += `
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end text-small shadow rounded-10"
                                             aria-labelledby="dropdown_menu_1">
                                            <p class="fw-bolder text_button position_block dropdown-item-text">
                                                ${element.first_name} ${element.last_name}
                                            </p>
                                            <p class="fw-normal dropdown-item-text text_button">
                                                <img src="{% static 'img/post.svg' %}" alt="post" rel="icon">
                                                ${element.post}</p>
                                            <p class="fw-normal dropdown-item-text text_button">
                                                 <img src="{% static 'img/email.svg' %}" alt="mail" rel="icon">
                                                 ${element.email}</p>
                                            <a class="btn btn-primary position_block"
                                               href="` + employee_url + `">
                                                Подробнее
                                            </a>
                                            <a class="btn btn-primary position_block"
                                               href="` + report_url + `">
                                                Отчёт по сотруднику
                                            </a>
                                        </div>
                                    </div>`
                            if (response.is_admin_zone) {
                                if (element.user_id !== response.user_id) {
                                    temp += `
                                            <div>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#` + id + `"
                                                    class="btn btn-outline-danger text_button">Удалить участника
                                                </a>

                                                <div class="modal fade" id="` + id + `" tabindex="-1" aria-labelledby="exampleModalDeleting"
                                                        aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                                                                <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                                                            </div>
                                                            <div class="modal-body text_button">Вы действительно хотите удалить участника?</div>
                                                                <div class="modal-body text_button">Удаляемые данные: ФИО - ${element.first_name} ${element.last_name}</div>
                                                                <div class="modal-footer">
                                                                    <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</a>
                                                                    <a type="button"
                                                                        href="` + delete_employee_url + `"
                                                                        class="btn btn-danger">Подтвердить удаление</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>`
                                }
                            }
                            temp += `
                                </div>
                            </div>
                            `

                            $("#my_row").append(temp)
                            temp = ""
                        }

                        i++;
                    });
                },
                error: function (error) {
                    console.log("An error occured. Text error is " + String(error))
                }
            });
        }

        const search_new_users = (series) => {
            $.ajax({
                type: 'GET',
                url: '{% url "search" project_id=project_id %}',
                data: {
                    'series': series
                }, success: function (response) {
                    console.log(response.data)
                    $("#user_list_row").empty()

                    let temp = ""
                    let data = response.data;

                    data.forEach(element => {
                        let link = `/main_page/projects/{{ project_id }}/collobarators/add/${element.employee_id}`

                        temp += `
                            <div class="d-flex justify-content-between">
                                <div class="row w-100">
                                    <a href="${link}"
                                       class="list-group-item list-group-item-action rounded-2" aria-current="true" style="margin-top: 25px">
                                        <div class="d-flex w-100 justify-content-between">
                                            <p class="text_button position_block">
                                                <span class="fw-bolder">
                                                    <img src="{% static 'img/user.svg' %}" alt="user" rel="icon">
                                                    ${element.first_name} ${element.last_name}
                                                </span>
                                            </p>
                                        </div>
                                        <p class="mb-1">@${element.username}, ${element.post}</p>
                                    </a>
                                </div>
                            </div>
                        `
                    });

                    $("#user_list_row").append(temp);

                }, error: function (error) {
                    console.log("An error occured. Text error: " + String(error));
                }
            })
        }

        // By default, we should set this value to default to display all projects.
        search_data('')

        const search_input = document.getElementById("search-input")
        search_input.addEventListener('keyup', e => {
            search_data(e.target.value)
        })

        const search_input_users = document.getElementById("search-user-input")
        search_input_users.addEventListener('keyup', e => {
            search_new_users(e.target.value)
        })

    </script>
{% endblock script %}