{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="list_button_block">
        {% for content_list in table %}
            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Номер:</span>
                                <span class="fw-normal text_button">{{ content_list.employee_id }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Ник-нейм:</span>
                                <span class="fw-normal text_button">{{ content_list.username }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Имя:</span>
                                <span class="fw-normal text_button">{{ content_list.first_name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Фамилия:</span>
                                <span class="fw-normal text_button">{{ content_list.last_name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Электронная почта:</span>
                                <span class="fw-normal text_button">{{ content_list.email }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Должность:</span>
                                <span class="fw-normal text_button">
                                    <a class="text_button link_inactive"
                                       href="{% url 'profession_description' profession_id=content_list.profession_id %}">
                                        {{ content_list.name }}
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Создано:</span>
                                <span class="fw-normal text_button">{{ content_list.date_create }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Изменено:</span>
                                <span class="fw-normal text_button">{{ content_list.date_change }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">О себе:</span>
                                <span class="fw-normal text_button">{{ content_list.description }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if request.user.id == content_list.id %}
                <div class="row">
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-100">
                                <div class="position_block">
                                    <a href="{% url 'edit_employee' employee_id=content_list.employee_id %}"
                                       class="btn btn-primary text_button">Редактировать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}