{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="list_button_block">
        {% for content_list in table %}
            <div class="position_block">
                <span class="fw-bolder text_button">ID:</span>
                <span class="fw-normal text_button">{{ content_list.employee_id }}</span>
            </div>
            <div class="position_block">
                <span class="fw-bolder text_button">Имя:</span>
                <span class="fw-normal text_button">{{ content_list.first_name }}</span>
            </div>
            <div class="position_block">
                <span class="fw-bolder text_button">Фамилия:</span>
                <span class="fw-normal text_button">{{ content_list.last_name }}</span>
            </div>
            <div class="position_block">
                <span class="fw-bolder text_button">Электронная почта:</span>
                <span class="fw-normal text_button">{{ content_list.email }}</span>
            </div>
            <div class="position_block">
                <span class="fw-bolder text_button">Должность:</span>
                <span class="fw-normal text_button">{{ content_list.post }}</span>
            </div>
            <div class="position_block">
                <span class="fw-bolder text_button">Описание должности:</span>
                <span class="fw-normal text_button">{{ content_list.description }}</span>
            </div>
            <div class="position_block">
                <span class="fw-bolder text_button">Дата создания:</span>
                <span class="fw-normal text_button">{{ content_list.date_create }}</span>
            </div>

            <a href="#" class="btn btn-primary text_button">Редактировать</a>
            <a href="#" class="btn btn-danger text_button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Удалить
            </a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text_button">Вы действительно хотите удалить сотрудника?</div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</a>
                            <a type="button" href="{% url 'employee_delete' employee_id=content_list.employee_id %}"
                               class="btn btn-danger">Подтвердить удаление</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock content %}