{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="list_button_block">
        {% for content_list in table %}
            <div class="position_block">
                <span class="fw-bolder text_button">ID:</span>
                <span class="fw-normal text_button">{{ content_list.employee_id }}</span>
            </div>
            <div class="position_block">
                <span class="fw-bolder text_button">Имя:</span>
                <span class="fw-normal text_button">{{ content_list.first_name }}</span>
            </div>
            <div class="position_block">
                <span class="fw-bolder text_button">Фамилия:</span>
                <span class="fw-normal text_button">{{ content_list.last_name }}</span>
            </div>
            <div class="position_block">
                <span class="fw-bolder text_button">Электронная почта:</span>
                <span class="fw-normal text_button">{{ content_list.email }}</span>
            </div>
            <div class="position_block">
                <span class="fw-bolder text_button">Должность:</span>
                <span class="fw-normal text_button">{{ content_list.post }}</span>
            </div>
            <div class="position_block">
                <span class="fw-bolder text_button">Описание должности:</span>
                <span class="fw-normal text_button">{{ content_list.description }}</span>
            </div>
            <div class="position_block">
                <span class="fw-bolder text_button">Дата создания:</span>
                <span class="fw-normal text_button">{{ content_list.date_create }}</span>
            </div>
        {% endfor %}

        <a href="#" class="btn btn-primary text_button"> Редактировать</a>
        <a href="#" class="btn btn-primary text_button"> Удалить</a>
    </div>
{% endblock content %}