{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="list_button_block">
        {% for content_list in table %}
            <div class="position_block">
                <span class="fw-bolder text_button">Номер:</span>
                <span class="fw-normal text_button">{{ content_list.priority_id }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Код:</span>
                <span class="fw-normal text_button">{{ content_list.code }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Название:</span>
                <span class="fw-normal text_button">{{ content_list.name }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Описание:</span>
                <span class="fw-normal text_button">{{ content_list.description }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Дата создания:</span>
                <span class="fw-normal text_button">{{ content_list.date_create }}</span>
            </div>

            <a href="{% url 'edit_priority' priority_id=content_list.priority_id %}?next={{ request.path|urlencode }}"
               class="btn btn-primary text_button"> Редактировать</a>

            {% if count_tasks == 0 %}
                <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                   class="btn btn-danger text_button"> Удалить
                </a>
            {% else %}
                <a type="button" data-bs-toggle="modal" data-bs-target="#errorModal" href="#"
                   class="btn btn-danger text_button"> Удалить
                </a>
            {% endif %}

            <!-- Remove modal window -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text_button">Вы действительно хотите удалить приоритет задачи?</div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</a>
                            <a type="button" href="{% url 'priority_delete' priority_id=content_list.priority_id %}"
                               class="btn btn-danger">Подтвердить удаление</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger" id="exampleModalLabel">Ошибка</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body text_button">К сожалению, приоритет нельзя удалить так, как
                            есть не закрытые задачи, относящиеся к этому данному приоритету. Для удаления проекта
                            необходимо удалить ссылающиеся задачи
                        </div>

                        <div class="modal-footer">
                            <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Ок</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}