{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="list_button_block">
        {% for content_list in table %}
            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Номер:</span>
                                <span class="fw-normal text_button">{{ content_list.project_id }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Код:</span>
                                <span class="fw-normal text_button">{{ content_list.code }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Название:</span>
                                <span class="fw-normal text_button">{{ content_list.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Создано:</span>
                                <span class="fw-normal text_button">{{ content_list.date_create }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Изменено:</span>
                                <span class="fw-normal text_button">{{ content_list.date_change }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Описание:</span>
                                <span class="fw-normal text_button">{{ content_list.description }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <a class="align-items-center text-dark fw-bolder text_button text-decoration-none dropdown-toggle"
                                   data-bs-toggle="collapse" href="#collapseExample" role="button"
                                   aria-expanded="false" aria-controls="collapseExample">
                                    Участники проекта
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% for participant in participants %}
                <div class="row w-100">
                    <div class="col-sm">
                        <div class="position_block w-100 collapse rounded-2" id="collapseExample">
                            <a href="{% url 'employee_description' employee_id=participant.employee_id %}"
                               class="list-group-item list-group-item-action text_button"
                               aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h3 class="mb-1">
                                        <img src="{% static 'img/user.svg' %}" alt="user" rel="icon">
                                        {{ participant.first_name }} {{ participant.last_name }}</h3>
                                    <small>{{ participant.date_create }}</small>
                                </div>
                                <p class="mb-1">{{ participant.post }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <a href="{% url 'edit_project' project_id=content_list.project_id %}?next={{ request.path|urlencode }}"
                                   class="btn btn-primary text_button"> Редактировать</a>
                                <a href="{% url 'collabs' project_id=content_list.project_id %}"
                                   class="btn btn-primary text_button">Участники</a>

                                {% if count_tasks == 0 %}
                                    <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                                       class="btn btn-danger text_button"> Удалить
                                    </a>
                                {% else %}
                                    <a type="button" data-bs-toggle="modal" data-bs-target="#errorModal" href="#"
                                       class="btn btn-danger text_button"> Удалить
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text_button">Вы действительно хотите удалить проект?</div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</a>
                            <a type="button" href="{% url 'project_delete' project_id=content_list.project_id %}"
                               class="btn btn-danger">Подтвердить удаление</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger" id="exampleModalLabel">Ошибка</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body text_button">К сожалению, проект нельзя удалить так, как
                            есть не закрытые задачи, относящиеся к этому проекту. Для удаления проекта необходимо
                            удалить ссылающиеся задачи
                        </div>

                        <div class="modal-footer">
                            <a type="button" href="{% url 'tasks_for_project' project_id=content_list.project_id %}"
                               class="btn btn-primary">К списку задач</a>
                            <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Ок</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}