{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="list_button_block">
        {% for content_list in table %}
            <div class="position_block">
                <span class="fw-bolder text_button">Номер:</span>
                <span class="fw-normal text">{{ content_list.project_id }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Название:</span>
                <span class="fw-normal text">{{ content_list.name }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Описание:</span>
                <span class="fw-normal text">{{ content_list.description }}</span>
            </div>
        {% endfor %}

        <a href="#" class="btn btn-primary text_button"> Редактировать</a>
        <a href="#" class="btn btn-primary text_button"> Удалить</a>
    </div>
{% endblock content %}