{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="list_button_block">
        {% for content_list in table %}
            <div class="position_block">
                <span class="fw-bolder text_button">Номер:</span>
                <span class="fw-normal text_button">{{ content_list.project_id }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Код:</span>
                <span class="fw-normal text_button">{{ content_list.code }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Название:</span>
                <span class="fw-normal text_button">{{ content_list.name }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Описание:</span>
                <span class="fw-normal text_button">{{ content_list.description }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Дата создания:</span>
                <span class="fw-normal text_button">{{ content_list.date_create }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Участники движа:</span>
                {% for participant in participants %}
                    <a class="align-items-center text-primary text_button text-decoration-none dropdown-toggle"
                       href="#" id="dropdown_menu_1" data-bs-toggle="dropdown">
                        <span class="d-none d-sm-inline mx-1">
                            {{ participant.first_name }} {{ participant.last_name }}
                        </span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end text-small shadow rounded-10"
                         aria-labelledby="dropdown_menu_1">
                        <p class="fw-bolder text_button position_block dropdown-item-text">
                            ФИО: {{ participant.first_name }} {{ participant.last_name }}
                        </p>
                        <p class="fw-normal dropdown-item-text text_button">Должность: {{ participant.post }}</p>
                        <p class="fw-normal dropdown-item-text text_button">Почта: {{ participant.email }}</p>
                        <a class="btn btn-primary position_block"
                           href="{% url 'employee_description' employee_id=participant.employee_id %}">
                            Подробнее
                        </a>
                    </div>
                {% endfor %}
            </div>

            <a href="#" class="btn btn-primary text_button"> Редактировать</a>
            <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
               class="btn btn-danger text_button"> Удалить</a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text_button">Вы действительно хотите удалить проект?</div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</a>
                            <a type="button" href="{% url 'project_delete' project_id=content_list.project_id %}"
                               class="btn btn-danger">Подтвердить удаление</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}