{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="list_button_block">
        {% for content_list in table %}
            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Номер:</span>
                                <span class="fw-normal text_button">{{ content_list.sprint_id }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Код:</span>
                                <span class="fw-normal text_button">{{ content_list.code }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Название:</span>
                                <span class="fw-normal text_button">{{ content_list.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Создано:</span>
                                <span class="fw-normal text_button">{{ content_list.date_create }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Дата начала:</span>
                                <span class="fw-normal text_button">{{ content_list.date_start }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Дата завершения:</span>
                                <span class="fw-normal text_button">{{ content_list.date_end }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <span class="fw-bolder text_button">Описание:</span>
                                <span class="fw-normal text_button">{{ content_list.description }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Добавляем под спойлер раздел "Трудоёмкость"-->
            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <a class="text-dark fw-bolder text_button text-decoration-none dropdown-toggle"
                                   data-bs-toggle="collapse" href="#collapseExample_capacity" role="button"
                                   aria-expanded="false" aria-controls="collapseCapacity_personal">
                                    Трудоёмкость спринта
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="position_block rounded-2 collapse" id="collapseExample_capacity">
                <a href="{% url 'report_laboriousness' project_id=project_id sprint_id=sprint_id %}"
                   class="list-group-item list-group-item-action text_button"
                   aria-current="true">
                    <div class="d-flex w-75 justify-content-between">
                        <h3 class="mb-1">
                            Отчёт нагруженности сотрудников
                            <span class="fw-normal">
                            <img src="{% static 'img/angle-right.svg' %}" alt="Right" rel="icon">
                        </span>
                        </h3>
                    </div>
                </a>

                <div class="position_block">
                    <p class="text_button fw-normal" style="margin-top: 50px">Суммарная трудоёмкость по сотрудникам</p>
                    <table class="table table-bordered">
                        <tr>
                            <th class="text_button fw-bold">ФИО сотрудника</th>
                            <th class="text_button fw-bold">Плановая трудоёмкость, ч.</th>
                            <th class="text_button fw-bold">Фактическая трудоёмкость, ч.</th>
                        </tr>

                        {% for data in capacity_sum_user %}
                            <tr>
                                <th class="text_button fw-normal">{{ data.first_name }} {{ data.last_name }}</th>
                                <th class="text_button fw-normal">{{ data.capacity_sum_plan }}</th>
                                <th class="text_button fw-normal">{{ data.capacity_sum_fact }}</th>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <!-- Добавляем под спойлер раздел "Задачи спринта"-->
            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                <a class="text-dark fw-bolder text_button text-decoration-none dropdown-toggle"
                                   data-bs-toggle="collapse" href="#collapseExample_tasks_list" role="button"
                                   aria-expanded="false" aria-controls="collapseCapacity_personal">
                                    Задачи спринта
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="position_block rounded-2 collapse" id="collapseExample_tasks_list">
                <div class="block_title" style="margin-top: 50px">
                    <h2 class="title">Задачи спринта</h2>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-100">
                                <div class="position_block">
                                    <a href="#" class="btn btn-primary text_button" data-bs-toggle="modal"
                                       data-bs-target="#exampleModal1">Добавить задачу
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="position_block" id="collapseExample_tasks"></div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <div class="row w-100">
                            <div class="position_block">
                                {% if not is_closed %}
                                    <a href="{% url 'sprint_close' project_id=project_id sprint_id=sprint_id type_closing=1 %}"
                                       class="btn btn-primary text_button">
                                        Закрыть спринт
                                    </a>
                                {% else %}
                                    <a href="{% url 'sprint_close' project_id=project_id sprint_id=sprint_id type_closing=0 %}"
                                       class="btn btn-primary text_button">
                                        Вернуть в работу
                                    </a>
                                {% endif %}
                                <a href="{% url 'sprint_edit' project_id=content_list.project_id sprint_id=content_list.sprint_id %}?next={{ request.path|urlencode }}"
                                   class="btn btn-primary text_button"> Редактировать
                                </a>

                                <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"
                                   class="btn btn-danger text_button"> Удалить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Remove modal window -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text_button">Вы действительно хотите удалить спринт?</div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</a>
                            <a type="button"
                               href="{% url 'sprint_remove' project_id=project_id sprint_id=content_list.sprint_id %}"
                               class="btn btn-danger">Подтвердить удаление</a>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
        <!-- Search Bar -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Добавление задачи</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>

                    <div class="modal-body text_button">
                        <form action="{% url 'task_sprint_search' project_id=project_id sprint_id=sprint_id %}"
                              class="form-inline" method="get">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="search-task-input"></label>
                                <input name="search" class="form-control" id="search-task-input"
                                       placeholder="Введите название задачи">
                            </div>

                            <div class="container-fluid" id="task_list_row"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        $.ajax({
            type: 'GET',
            url: '{% url 'list_tasks_for_sprint' project_id=project_id sprint_id=sprint_id %}',

            success: function (response) {
                let data = response.data;

                let selector = document.getElementById("collapseExample_tasks")
                selector.innerHTML = "";

                let temp = `
                <table class="table table-bordered">
                    <tr>
                        <th class="text_button fw-bold">Код</th>
                        <th class="text_button fw-bold">Название</th>
                        <th class="text_button fw-bold">Состояние</th>
                        <th class="text_button fw-bold">Ответственный</th>`

                if (response.is_staff) {
                    temp += `<th class="text_button"></th>`
                }

                temp += '</tr>'

                let i = 0;
                data.forEach(element => {
                    let id = "exampleModalEditing" + i;

                    let link = `/main_page/projects/{{ project_id }}/sprints/{{ sprint_id }}/delete_task/${element.task_id}`
                    let link_to_task = `/main_page/projects/{{ project_id }}/tasks/${element.task_id}`
                    let link_to_state = `/main_page/states/${element.state_id}`
                    let link_to_employee = `/main_page/employees/${element.employee_id}`

                    temp += `
                        <tr>
                            <th class="fw-normal">
                                    <a class="text_button link_inactive" href="${link_to_task}" style="color: ${element.color}">
                                        ${element.code}
                                    </a>
                            </th>
                            <th class="text_button fw-normal">${element.task_name}</th>
                            <th class="fw-normal">
                                    <a class="text_button link_inactive" href="${link_to_state}">
                                        ${element.state_name}
                                    </a>
                            </th>
                            <th class="fw-normal">
                                <a class="text_button link_inactive" href="${link_to_employee}">
                                        ${element.user_name}
                                </a>
                            </th>
                    `

                    if (response.is_staff) {
                        temp += `
                            <th class="text_button">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#` + id + `"
                                       class="btn btn-outline-danger text_button">Удалить задачу
                                    </a>
                            </th>
                            <div class="modal fade" id="` + id + `" tabindex="-1" aria-labelledby="exampleModalEditing"
                                    aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                                            <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                                        </div>
                                        <div class="modal-body text_button">Вы действительно хотите удалить задачу?</div>
                                            <div class="modal-body text_button">Удаляемые данные: Код задачи - ${element.code}</div>
                                            <div class="modal-footer">
                                                <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</a>
                                                <a type="button"
                                                    href="` + link + `"
                                                    class="btn btn-danger">Подтвердить удаление</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        `
                    }

                    temp += `</tr>`
                    i++;
                })

                temp += `</table>`
                $("#collapseExample_tasks").append(temp)
            }
        })

        const search_new_tasks = (series) => {
            $.ajax({
                type: 'GET',
                url: '{% url "task_sprint_search" project_id=project_id sprint_id=sprint_id %}',
                data: {
                    'series': series
                }, success: function (response) {
                    $("#task_list_row").empty()

                    let temp = ""
                    let data = response.data

                    data.forEach(element => {
                        let link_to_add_task = `/main_page/projects/{{ project_id }}/sprints/{{ sprint_id }}/add/${element.task_id}`
                        temp += `
                            <div class="d-flex justify-content-between">
                                <div class="row w-100">
                                    <a href="${link_to_add_task}"
                                       class="list-group-item list-group-item-action rounded-2" aria-current="true" style="margin-top: 25px">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h3 class="mb-1">
                                                <span>
                                                    <img src="{% static 'img/pencil.svg' %}" alt="task" rel="icon">
                                                    ${element.code}
                                                </span>
                                            </h3>
                                        </div>
                                        <p class="mb-1" style="margin-top: 10px">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="24"
                                                 height="24">
                                                <path d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"></path>
                                                <path d="M12,10H11a1,1,0,0,0,0,2h1v6a1,1,0,0,0,2,0V12A2,2,0,0,0,12,10Z"></path>
                                                <circle cx="12" cy="6.5" r="1.5"></circle>
                                            </svg>
                                            ${element.name}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        `
                    })

                    $("#task_list_row").append(temp);

                }, error: function (error) {
                    console.log("An error occured. Text error is " + String(error))
                }
            })
        }

        const search_input_users = document.getElementById("search-task-input")
        search_input_users.addEventListener('keyup', e => {
            search_new_tasks(e.target.value);
        })
    </script>
{% endblock script %}