{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="list_button_block">
        {% for content_list in table %}
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-75">
                                <div class="position_block">
                                    <span class="fw-bolder text_button">Номер:</span>
                                    <span class="fw-normal text_button">{{ content_list.task_id }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-75">
                                <div class="position_block">
                                    <span class="fw-bolder text_button">Код:</span>
                                    <span class="fw-normal text_button">{{ content_list.code }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-75">
                                <div class="position_block">
                                    <span class="fw-bolder text_button">Название:</span>
                                    <span class="fw-normal text_button">{{ content_list.name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="row">
                            <div class="col-sm">
                                <div class="d-flex justify-content-center">
                                    <div class="row w-75">
                                        <div class="position_block">
                                            <span class="fw-bolder text_button">Изменено:</span>
                                            <span class="fw-normal text_button">{{ content_list.date_change }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-75">
                                <div class="position_block">
                                    <span class="fw-bolder text_button">Наблюдатель:</span>
                                    <span class="fw-normal text_button">{{ content_list.init_name }} {{ content_list.init_surname }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-75">
                                <div class="position_block">
                                    <span class="fw-bolder text_button">Ответственный:</span>
                                    <span class="fw-normal text_button">{{ content_list.resp_name }} {{ content_list.resp_surname }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-75">
                                <div class="position_block">
                                    <span class="fw-bolder text_button">Состояние:</span>
                                    <span class="fw-normal text_button">{{ content_list.state_name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-75">
                                <div class="position_block">
                                    <span class="fw-bolder text_button">Проект:</span>
                                    <span class="fw-normal text_button">{{ content_list.project_name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-75">
                                <div class="position_block">
                                    <span class="fw-bolder text_button">Приоритет:</span>
                                    <span class="fw-normal text_button">{{ content_list.priority_name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-75">
                                <div class="position_block">
                                    <span class="fw-bolder text_button">Тип:</span>
                                    <span class="fw-normal text_button">{{ content_list.type_task_name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-75">
                                <div class="position_block">
                                    <span class="fw-bolder text_button">Срок сдачи:</span>
                                    <span class="fw-normal text_button">{{ content_list.date_deadline }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-75">
                                <div class="position_block">
                                    <span class="fw-bolder text_button">Создано:</span>
                                    <span class="fw-normal text_button">{{ content_list.date_create }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="d-flex justify-content-center">
                            <div class="row w-75">
                                <div class="position_block">
                                    <span class="fw-bolder text_button">Описание:</span>
                                    <span class="fw-normal text_button">{{ content_list.description }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                    </div>
                </div>
            </div>

            <div class="list_button_block d-flex justify-content-center" style="margin-top: 50px">
                {% if is_admin %}
                    <a href="{% url 'edit_task' project_id=content_list.project_id task_id=content_list.task_id %}?next={{ request.path|urlencode }}"
                       class="btn btn-primary text_button">Редактировать
                    </a>
                {% endif %}

                {% if is_admin %}
                    <a href="{% url 'subtask_create' project_id=content_list.project_id task_id=content_list.task_id %}?next={{ request.path|urlencode }}"
                       class="btn btn-primary text_button">
                        Создать под-задачу
                    </a>
                {% endif %}

                {% if is_admin %}
                    {% if content_list.state_id != 5 %}
                        <a href="{% url 'mark_completed' project_id=content_list.project_id task_id=content_list.task_id %}"
                           class="btn btn-primary text_button">Пометить как выполненную
                        </a>
                    {% endif %}
                {% endif %}

                {% if is_admin %}
                    {% if count_subtasks == 0 %}
                        <a href="#" class="btn btn-danger text_button" type="button" data-bs-toggle="modal"
                           data-bs-target="#exampleModal">
                            Удалить
                        </a>
                    {% else %}
                        <a href="#" class="btn btn-danger text_button" type="button" data-bs-toggle="modal"
                           data-bs-target="#errorModal">
                            Удалить
                        </a>
                    {% endif %}
                {% endif %}
            </div>

            <!-- A modal window deleting -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                            <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                        </div>
                        <div class="modal-body text_button">Вы действительно хотите удалить задачу?</div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</a>
                            <a type="button"
                               href="{% url 'task_delete' project_id=project_id task_id=content_list.task_id %}"
                               class="btn btn-danger">Подтвердить удаление</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger" id="exampleModalLabel">Ошибка</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body text_button">К сожалению, задачу нельзя удалить, так как есть не
                            удалённые подзадачи. Для удаления задачи необходимо удалить подзадачи
                        </div>

                        <div class="modal-footer">
                            <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Ок</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if count_subtasks > 0 %}
            <div class="d-flex justify-content-center">
                <div class="row w-75">
                    <div class="position_block" style="margin-top: 100px">
                        <a class="text-dark fw-bolder text_button text-decoration-none dropdown-toggle"
                           data-bs-toggle="collapse" href="#collapseExample_subtasks" role="button"
                           aria-expanded="false" aria-controls="collapseExample_personal">
                            Подзадачи ({{ count_subtasks }})
                        </a>
                    </div>

                    {% for task in subtasks %}
                        <div id="collapseExample_subtasks" class="collapse">
                            <a href="{% url 'task_description' project_id=project_id task_id=task.task_id %}"
                               class="list-group-item list-group-item-action text_button rounded-2" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h3 class="mb-1">
                                        <img src="{% static 'img/pencil.svg' %}" alt="pencil" rel="icon">
                                        {{ task.code }}
                                    </h3>
                                    <small>{{ task.date_create }}</small>
                                </div>
                                <p class="mb-1" style="margin-top: 10px">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="24"
                                         height="24">
                                        <path d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/>
                                        <path d="M12,10H11a1,1,0,0,0,0,2h1v6a1,1,0,0,0,2,0V12A2,2,0,0,0,12,10Z"/>
                                        <circle cx="12" cy="6.5" r="1.5"/>
                                    </svg>
                                    {{ task.description|truncatechars:100 }}
                                </p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}