{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="title_block">
        <h2 class="title">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="list_button_block">
        {% for content_list in table %}
            <div class="position_block">
                <span class="fw-bolder text_button">ID:</span>
                <span class="fw-normal text_button">{{ content_list.task_id }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Код</span>
                <span class="fw-normal text_button">{{ content_list.code }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Название</span>
                <span class="fw-normal text_button">{{ content_list.name }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Описание</span>
                <span class="fw-normal text_button">{{ content_list.description }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Инициатор</span>
                <span class="fw-normal text_button">{{ content_list.manager_name }} {{ content_list.manager_last_name }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Наблюдатель</span>
                <span class="fw-normal text_button">{{ content_list.init_name }} {{ content_list.init_surname }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Ответственный</span>
                <span class="fw-normal text_button">{{ content_list.resp_name }} {{ content_list.resp_surname }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Состояние</span>
                <span class="fw-normal text_button">{{ content_list.state_name }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Проект</span>
                <span class="fw-normal text_button">{{ content_list.project_name }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Приоритет</span>
                <span class="fw-normal text_button">{{ content_list.priority_name }}</span>
            </div>

            <div class="position_block">
                <span class="fw-bolder text_button">Тип</span>
                <span class="fw-normal text_button">{{ content_list.type_task_name }}</span>
            </div>

            {% if is_admin %}
                <a href="{% url 'edit_task' project_id=content_list.project_id task_id=content_list.task_id %}"
                        class="btn btn-primary text_button">Редактировать
                </a>
            {% endif %}

            {% if is_admin %}
                {% if content_list.state_id != 5 %}
                    <a href="{% url 'mark_completed' project_id=content_list.project_id task_id=content_list.task_id %}"
                       class="btn btn-primary text_button">Пометить как выполненную
                    </a>
                {% endif %}
            {% endif %}

            {% if is_admin %}
                <a href="#" class="btn btn-danger text_button" type="button" data-bs-toggle="modal"
                   data-bs-target="#exampleModal">
                    Удалить
                </a>
            {% endif %}

            <!-- A modal window deleting -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
                            <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                        </div>
                        <div class="modal-body text_button">Вы действительно хотите удалить задачу?</div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</a>
                            <a type="button"
                               href="{% url 'task_delete' project_id=project_id task_id=content_list.task_id %}"
                               class="btn btn-danger">Подтвердить удаление</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}