{% extends 'include/base_table.html' %}
{% load static %}

<div class="my_table">
    {% block table_head %}
        {% for title in head %}
            <th class="text_button">{{ title }}</th>
        {% endfor %}
    {% endblock table_head %}

    {#  describe the table with data  #}
    {% block table_content %}
        {% for content_list in table %}
            <tr>
                <td>
                    <a href="{% url 'project_description' project_id=content_list.project_id %}"
                       class="btn btn-outline-primary text_button">{{ content_list.project_id }}</a>
                </td>
                <td class="text_button">{{ content_list.name }}</td>
                <td class="text_button">{{ content_list.description|truncatechars:50 }}</td>
            </tr>
        {% endfor %}
    {% endblock table_content %}
</div>