{% extends 'include/base.html' %}
{% load static %}

{#{% block title %}#}
{#    <div class="title_block">#}
{#        <h2 class="title">{{ title_page }}</h2>#}
{#    </div>#}
{#{% endblock title %}#}

{% block content %}
    <div class="list_button_block">
        <a class="float-right btn text-white btn-success add_content_button" href="#">Добавить новые данные</a>
        <h2 class="sub_title_table">Картотека проектов</h2>
        {% include 'include/tables/project_list_table.html' %}
    </div>
{% endblock content %}
