{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="block_title">
        <h2 class="title" style="margin-bottom: 50px">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="container-fluid" id="list_data">
        <div class="d-flex justify-content-center">
            <div class="row w-75">
                <form action="{% url 'project_search' %}" class="form-inline search-form" method="get">
                    <div class="d-flex">
                        <label for="search-input" class="sr-only text_button"></label>
                        <input name="search" class="form-control me-2" id="search-input"
                               placeholder="Введите текст для поиска" value="{{ value_in_the_search_form }}">
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="p-2">
                <a class="btn btn-primary d-flex align-items-center text-white text-decoration-none text_button"
                   href="{% url 'create_project' %}?next={{ request.path|urlencode }}"> Добавить новые данные </a>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="row w-75" id="my_row"></div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        const search_data = (series) => {
            $.ajax({
                type: 'GET',
                url: '{% url "project_search" %}',
                data: {
                    'series': series
                },
                success: function (response) {
                    $("#my_row").empty()

                    let temp = ""
                    let data = response.data;

                    data.forEach(element => {
                        //console.log(element);
                        if (element.code_exists > 0 || element.project_exists > 0 || element.description_exists > 0) {
                            const django_url = "/main_page/projects/" + element.project_id + "/description";

                            temp += `
                                <div>
                                    <a href="` + django_url + `"
                                       class="list-group-item list-group-item-action text_button" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h3 class="mb-1">
                                                <img src="{% static 'img/project.svg' %}" alt="type" rel="icon">
                                                ${element.code}
                                            </h3>
                                            <small>${element.date_create}</small>
                                        </div>
                                        <p class="mb-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="24"
                                                     height="24">
                                                    <path d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"></path>
                                                    <path d="M12,10H11a1,1,0,0,0,0,2h1v6a1,1,0,0,0,2,0V12A2,2,0,0,0,12,10Z">
                                                    </path>
                                                    <circle cx="12" cy="6.5" r="1.5"></circle>
                                                </svg>
                                            ${element.description}
                                        </p>
                                    </a>
                                </div>
                           `

                            $("#my_row").append(temp)
                            temp = ""
                        }
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }

        // By default, we should set this value to default to display all projects.
        search_data('')

        const search_input = document.getElementById("search-input")
        search_input.addEventListener('keyup', e => {
            console.log(e.target.value)
            search_data(e.target.value)
        })
    </script>
{% endblock script %}
