{% extends 'include/base.html' %}
{% load static %}

{% block title %}
    <div class="block_title">
        <h2 class="title" style="margin-bottom: 50px">{{ title_page }}</h2>
    </div>
{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="row w-75">
                <form action="{% url 'state_search' %}" class="form-inline" method="get">
                    <div class="d-flex">
                        <label for="search-input" class="sr-only text_button"></label>
                        <input name="search" class="form-control me-2"
                               id="search-input"
                               placeholder="Введите текст для поиска" value="{{ value_in_the_search_form }}">
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="p-2">
                <a class="btn btn-primary d-flex align-items-center text-white text-decoration-none text_button"
                   href="{% url 'create_state' %}?next={{ request.path|urlencode }}"> Добавить новые данные </a>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="row w-75" id="my_row"></div>
    </div>

{% endblock content %}

{% block script %}
    <script>
        const search_data = (series) => {
            $.ajax({
                type: 'GET',
                url: '{% url "state_search" %}',
                data: {
                    'series': series
                },
                success: function (response) {
                    $("#my_row").empty()

                    let temp = ""
                    let data = response.data;

                    data.forEach(element => {
                        console.log(element);
                        if (element.code_exists > 0 || element.state_exists > 0 || element.description_exists > 0) {
                            const django_url = "/main_page/states/" + element.state_id;

                            temp += `
                                <div>
                                    <a href="` + django_url + `"
                                       class="list-group-item list-group-item-action text_button" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h3 class="mb-1">
                                                <img src="{% static 'img/test.svg' %}" alt="type" rel="icon">
                                                ${element.code}
                                            </h3>
                                            <small>${element.date_create}</small>
                                        </div>
                                        <p class="mb-1">${element.description}</p>
                                    </a>
                                </div>
                           `

                            $("#my_row").append(temp)
                            temp = ""
                        }
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }

        // By default, we should set this value to default to display all projects.
        search_data('')

        const search_input = document.getElementById("search-input")
        search_input.addEventListener('keyup', e => {
            console.log(e.target.value)
            search_data(e.target.value)
        })
    </script>
{% endblock script %}