{% extends 'include/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="row w-75">
                <form action="#" class="form-inline search-form"
                      method="get">
                    <div class="d-flex">
                        <label for="search-input" class="sr-only text_button"></label>
                        <input name="search" class="form-control me-2" id="search-input"
                               placeholder="Введите текст для поиска" value="{{ value_in_the_search_form }}">
                    </div>
                </form>
            </div>
        </div>

        {% if is_admin %}
            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <a class="btn btn-primary d-flex align-items-center text-white text-decoration-none text_button"
                       href="{% url 'task_create' project_id=project_id %}?next={{ request.path|urlencode }}"> Добавить
                        новые данные </a>
                </div>
            </div>
        {% endif %}

        <div class="d-flex justify-content-center">
            <div class="row w-75" id="my_row"></div>
        </div>

    </div>
{% endblock content %}

{% block script %}
    <script>
        // This function calculates the correct results
        function calculate_correct_tasks(array) {
            let i = 0;
            array.forEach(element => {
                if (element.code_exists > 0 || element.name_exists > 0 || element.description_exists > 0
                    || element.au1_name_exists > 0 || element.au2_name_exists > 0 || element.au3_name_exists > 0) {
                    ++i;
                }
            })

            return i;
        }

        // This method provides an ajax request to the
        const search_data = (series) => {
            $.ajax({
                type: 'GET',
                url: '{% url "task_search" project_id=project_id %}',
                data: {
                    'series': series
                },
                success: function (response) {
                    $("#my_row").empty()

                    let temp = ""
                    let data = response.data;
                    console.log(data)

                    for (let i = 0; i < data.length; ++i) {
                        let count_tasks = calculate_correct_tasks(data[i])
                        if (count_tasks > 0) {
                            temp += `
                            <div class="position_block">
                                <a class="text-dark fw-bolder text_button text-decoration-none dropdown-toggle"
                                   data-bs-toggle="collapse" href="#` + data[i][0] + `" role="button"
                                   aria-expanded="false" aria-controls="` + data[i][0] + `">
                                    ` + data[i][1] + ` (${count_tasks})
                                </a>
                            </div>
                            `

                            for (let j = 2; j < data[i].length; ++j) {
                                if (data[i][j].code_exists > 0 || data[i][j].name_exists > 0 ||
                                    data[i][j].description_exists > 0 || data[i][j].au1_name_exists > 0 ||
                                    data[i][j].au2_name_exists > 0 || data[i][j].au3_name_exists > 0) {
                                    console.log(data[i][j].au1_name_exists)
                                    const django_url = "/main_page/projects/" + data[i][j].project_id + "/tasks/" +
                                        data[i][j].task_id;

                                    temp += `
                                    <div class="row collapse rounded-2" id="` + data[i][0] + `">
                                        <a href="` + django_url + `"
                                           class="list-group-item list-group-item-action text_button" aria-current="true">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h3 class="mb-1">
                                                    <img src="{% static 'img/pencil.svg' %}" alt="pencil" rel="icon">
                                                    ${data[i][j].code}: ${data[i][j].name}
                                                </h3>
                                                <small>${data[i][j].date_create}</small>
                                            </div>
                                            <p class="mb-1" style="margin-top:10px">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="24"
                                                 height="24">
                                                <path d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"></path>
                                                <path d="M12,10H11a1,1,0,0,0,0,2h1v6a1,1,0,0,0,2,0V12A2,2,0,0,0,12,10Z"></path>
                                                <circle cx="12" cy="6.5" r="1.5"></circle>
                                            </svg>
                                            ${data[i][j].description}
                                            </p>
                                        </a>
                                    </div>
                                    `
                                }
                            }

                            $("#my_row").append(temp)
                            temp = ""
                        }
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }

        // By default, we should set this value to default to display all projects.
        search_data('')

        const search_input = document.getElementById("search-input")
        search_input.addEventListener('keyup', e => {
            search_data(e.target.value)
        })
    </script>
{% endblock script %}